@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
}

header > div,
section#view_post {
  position: relative;
  font-family: "Concert One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header > div:first-child::after {
  position: absolute;
  top: 65%;
  left: 23%;
  color: chocolate;
  content: "Clone";
  font-weight: bold;
}

footer > div p {
  color: chocolate;
  font-family: "Concert One", sans-serif;
  font-weight: 700;
}
