{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="icon"
        href="{% static 'instagram.png' %}"
        type="image/x-icon"
      />
      <title>Instagram - clone</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script
        defer
        src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      ></script>
      <!-- <link rel="stylesheet" href="{% static 'style.css' %}" /> -->
      {% tailwind_css %}
    </head>
    <body class="cursor-default min-w-[300px] bg-white dark:bg-[#313338]">
      {% include 'includes/header.html' %} {% block content %} {% endblock %}
    </body>
  </html>
</html>
